nav#main .searchform .typeahead,
nav#main .searchform .tt-query,
nav#main .searchform .tt-input,
nav#main .searchform .tt-hint {
  width: 300px;
  outline: none;
  color: #fff;
}



.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

nav#main .searchform .tt-hint {
  color: #999
}

.tt-dropdown-menu {
  margin-left: 10px;
  width: 290px;
  margin-top: 5px;
  padding: 3px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;

   -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #efefef;
  text-shadow: none;
}

.tt-suggestion:last-child {
  border-bottom: none;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0769AD;

}

.tt-suggestion p {
  margin: 0;
}