<div class="container theme-showcase" role="main">
    <form name="mapForm" novalidate>
        <div class="row" style="height: 160px;">
            <div class="col-lg-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">CPE &middot; 热力学展示</h3>
                    </div>
                    <div class="panel-body">
                        <label class="col-lg-3" style="width: 350px;height: 20px;float: left">
                            <label class="col-lg-4" style="float: left;text-align:center;top: 10px">
                                <span class="label label-default">日期</span>
                            </label>
                            <div  ng-class="{'has-error':mapForm.$submitted&&mapForm.opTime.$invalid}">
                                <div class="input-group date form_date col-lg-7" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input id="opTime" name="opTime" class="form-control" size="16" type="text" ng-model="mapModle.opTime" readonly required>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <label for="dtp_input1" class="col-lg-1 control-label"style="float: left" ></label>
                                <input type="hidden" id="dtp_input1" value="" /><br/>
                            </div>
                        </label>

                        <label class="col-lg-3" style="width: 300px;height: 30px;">
                            <label class="col-lg-4" style="float: left;text-align:center;top: 10px">
                                <span class="label label-default">地市</span>
                            </label>
                            <div ng-class="{'has-error':mapForm.$submitted&&mapForm.cityId.$invalid}">
                                <select name="cityId" id="cityId" class="form-control" style="width: 150px;height: 30px" ng-model="mapModle.cityId" ng-options="city.id as city.name for city in citys" ng-click="mapModle.clickCity(cityId)" required>
                                </select>
                            </div>
                        </label>


                        <label class="col-lg-3" style="width: 300px;height: 30px;">
                            <label class="col-lg-4" style="float: left;text-align:center;top: 10px">
                                <span class="label label-default">周期</span>
                            </label>
                            <div ng-class="{'has-error':mapForm.$submitted&&mapForm.customerId.$invalid&&mapForm.customerId == null}">
                                <select name="customerId" id="customerId" class="form-control" style="width: 150px;height: 30px" ng-model="mapModle.customerId" ng-options="customer.id as customer.name for customer in customers" required>
                                </select>
                            </div>
                        </label>

                        <label style="width: 150px;">

                            <button type="submit" class="button button-glow button-rounded button-raised button-primary" ng-disabled="mapForm.$invalid"  ng-click="mapModle.show('cpe')" >
                                查询
                            </button>
                        </label>

                        <label class="col-lg-3" style="width: 300px;height: 30px;">
                            <label class="col-lg-5" style="float: left;text-align:center;top: 10px">
                                <span class="label label-default">热力阀值</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="maxValue" id="maxValue" ng-model="mapModle.maxValue" style="width: 100px;height: 30px;">
                        </label>

                        <label class="col-lg-3" style="width: 50px;height: 30px;">
                        </label>
                        <label class="col-lg-3" style="width: 300px;height: 30px;">
                            <label class="col-lg-4" style="float: left;text-align:center;top: 10px">
                                <span class="label label-default">数据分类</span>
                            </label>
                            <div ng-class="{'has-error':mapForm.$submitted&&mapForm.dataTypeId.$invalid&&mapForm.dataTypeId == null}">
                                <select name="dataTypeId" id="dataTypeId" class="form-control" style="width: 150px;height: 30px" ng-model="mapModle.dataTypeId" ng-options="dataType.id as dataType.name for dataType in dataTypes" required>
                                </select>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--<div class="jumbotron"  style="height: 800px">-->
    <div id="container" style="height: 800px">
    </div>
</div>

<script type="text/javascript" src="vender/bootstrap-datetimepicke/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="vender/bootstrap-datetimepicke/bootstrap-datatime-picker.js" charset="UTF-8"></script>

